<html>
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "centro">
        <h1> Museo del Novecento </h1>
        <img src="{{url_for('static', filename='images/museonovecento.jpg')}}" align="middle" />
        <br> 
        <a href="/unapersona"><img src="{{url_for('static', filename='images/1persona.jpg')}}" align="middle" />
        <a href="/gruppo"><img src="{{url_for('static', filename='images/gruppopersone.jpg')}}" align="middle" />
        <a href="/gruppocon guida"><img src="{{url_for('static', filename='images/gruppopersoneconguida.jpg')}}" align="middle" />
    </body> 
    
    </html>